/* your code */
.name{
    background-color: lightblue;

}
.hack{
    background-color: white;
}
.cool{
    background-color: lightgrey;
}
.and{
    background-color: white;
}
.straw{
    background-color: lightgrey;
}